/*
.ui-bar .cl #btn-more{
    background-image: url(http://u1.sinaimg.cn/upload/h5/img/v5/icon_20130530.png);
    background-repeat: no-repeat;
    background-size: 24px auto;
    background-position: 0 -1701px;
    width: 20px;
    height:20px;
}
*/