<input type="hidden" name="trade" value="yes" />
<input type="hidden" name="item_type" value="1" />
<div class="exfm cl">
	<div class="sinf sppoll z">
		<dl>
            <!--商品名称-->
			<dt><span class="rq">*</span><label for="item_name">{lang post_trade_name}:</label></dt>
			<dd><input type="text" name="item_name" id="item_name" class="px oinf" value="$trade[subject]" tabindex="1" /></dd>
			<!--商品数量-->
            <dt><span class="rq">*</span><label for="item_number">{lang post_trade_number}:</label></dt>
			<dd>
				<div class="spmf">
					<em>
						<input type="text" name="item_number" id="item_number" class="px" value="$trade[amount]" tabindex="1" />
					</em>
				</div>
			</dd>

            <!--商品价格-->
			<dt><span class="rq">*</span>{lang post_trade_price}:</dt>
			<dd>
				<div class="spmf mbm">
					<em>
						<input type="text" name="item_price" id="item_price" class="px" value="$trade[price]" tabindex="1" />
						<label for="item_price">{lang post_current_price}</label>
					</em>
					<em>
						<input type="text" name="item_costprice" id="item_costprice" class="px" value="$trade[costprice]" tabindex="1" />
						<label for="item_costprice">{lang post_original_price}</label>
					</em>
				</div>
			</dd>

            <!--使用时间段-->
            <dt>有效时间段1</dt><span style="color:#ff0000">*</span>
            <dd>
                <div>
                    <input type="time" id="time1_start" name="time1_start" class="time_start">
                    ---
                    <input type="time" id="time1_end" name="time1_end" class="time_end">
                </div>
            </dd>

            <dt>有效时间段2</dt><span style="color:#ff0000">*</span>
            <dd>
                <div>
                    <input type="time" id="time2_start" name="time2_start" class="time_start">
                    ---
                    <input type="time" id="time2_end" name="time2_end" class="time_end">
                </div>
            </dd>

            <dt>有效时间段3</dt><span style="color:#ff0000">*</span>
            <dd>
                <div>
                    <input type="time" id="time3_start" name="time3_start" class="time_start">
                    ---
                    <input type="time" id="time3_end" name="time3_end" class="time_end">
                </div>
            </dd>




		</dl>
	</div>


	<div class="sadd z">
		<dl class="cl">
            <!--有效期开始-->
            <dt><label for="start_date">开始日期:</label></dt>
            <dd class="hasd">
                <input type="date" name="start_date" id="start_date" class="px" style="width: 60%">
            </dd>
            <!--有效期至-->
            <dt><label for="item_expiration">{lang valid_before}:</label></dt>
			<dd class="hasd">
				<input type="date" name="item_expiration" id="item_expiration" style="width: 60%" class="px"
                       value="$trade[expiration]" tabindex="1" />
			</dd>

            <!--商品与本店细则不同部分-->
            <dt>本商品与本店细则不同的部分<span style="color:#ff0000">*</span></dt>
            <textarea id="diff_from_general" name="diff_from_general" rows="5" cols="50">
            </textarea>

            <!--商品照片-->
			<!--{if $allowpostimg}-->
				<dt>{lang post_trade_picture}:</dt>
				<dd class="pns">
					<button type="button" class="pn" onclick="uploadWindow(function (aid, url){tradeaid_upload(aid, url)})"><span><!--{if $tradeattach[attachment]}-->{lang update}<!--{else}-->{lang upload}<!--{/if}--></span></button>
					<input type="hidden" name="tradeaid" id="tradeaid" {if $tradeattach[attachment]} value="$tradeattach[aid]" {/if}/>
					<input type="hidden" name="tradeaid_url" id="tradeaid_url" />
					<div id="tradeattach_image" class="ptn">
					<!--{if $tradeattach[attachment]}-->
						<a href="$tradeattach[url]/$tradeattach[attachment]" target="_blank"><img classgedit="spimg"
                                                                                                  src="$tradeattach[url]/{if $tradeattach['thumb']}{eval echo getimgthumbname($tradeattach['attachment']);}{else}$tradeattach[attachment]{/if}" alt="" /></a>
					<!--{/if}-->
					</div>
				</dd>
			<!--{/if}-->
			<!--{hook/post_trade_extra}-->
		</dl>
	</div>
</div>

<script type="text/javascript" reload="1">
simulateSelect('item_quality');
simulateSelect('paymethod');
simulateSelect('transport');

EXTRAFUNC['validator']['special'] = 'validateextra';
function validateextra() {
	if($('postform').item_name.value == '') {
		showDialog('{lang post_goods_error_message_1}', 'alert', '', function () { $('postform').item_name.focus() });
		return false;
	}
	if($('postform').item_number.value == '') {
		showDialog('{lang post_goods_error_message_2}', 'alert', '', function () { $('postform').item_number.focus() });
		return false;
	}
	if($('postform').item_price.value == '' && $('postform').item_credit.value == '') {
		showDialog('{lang post_goods_error_message_3}', 'alert', '', function () { $('postform').item_price.focus() });
		return false;
	}
	return true;
}
function tradeaid_upload(aid, url) {
	$('tradeaid_url').value = url;
	updatetradeattach(aid, url, '{$_G['setting']['attachurl']}forum');
}
</script>